
<ion-header>
  <ion-toolbar>
    <ion-title>Brooklyn Nine-Nine</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="corFundo">
  <ion-card class="cor2">

    <img src="https://turnmundonerd.com.br/wp-content/uploads/2020/12/7-1.jpg">
  
    <ion-card-header>
      <ion-card-subtitle>Sinopse</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A série Brooklyn Nine-Nine é ambientada na 99ª Delegacia de Polícia de Nova York, no Brooklyn, acompanhando as maluquices do imaturo detetive Jake Peralta (Andy Samberg) e a relação que ele tem com o novo capitão, Ray Holt (Andre Braugher).
    </ion-card-content>
  </ion-card>
  
  <ion-card class="cor2">
    <ion-card-header>
      <ion-card-subtitle>Gênero</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Sitcom, Comédia e Policial Processual.
    </ion-card-content>
  </ion-card>
  
  <ion-card class="cor2">
    <ion-card-header>
      <ion-card-subtitle>Plataforma</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Netflix.
    </ion-card-content>
  </ion-card>

  <ion-card class="cor2">
    <ion-card-header>
      <ion-card-subtitle>Autores</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Dan Goor e Michael Schur.
    </ion-card-content>
  </ion-card>
  
  <ion-card class="cor2">
    <ion-card-header>
      <ion-card-subtitle>Elenco Principal</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Andy Samberg, Melissa Fumero, Terry Crews, Stephanie Beatriz, Chelsea Peretti, Andre Braugher, Joe Lo Truglio, Dirk Blocker, Joel McKinnon, Eva Longoria, Marc Evan Jackson, Pete Davidson, Katey Sagal, Jason Mantzoukas, Kyle Bornheimer.
    </ion-card-content>
  </ion-card>
</ion-content>  